{% comment %}
  Renders the breadcrumb.

  Accepts:
  - text_style: {String} The text style
  - show_divider: {String} Show devider

  Usage:
  {% render 'breadcrumbs' %}
{% endcomment %}

{%- unless template.name == 'index' or template.suffix == 'about-us' or template.suffix == 'aboutus' or template.name == '404' -%}
  <nav class="s-page-title">
    <div class="container">
      <div class="content">
        <h1 class="title-page">{{ template.name | replace: '-', ' ' | capitalize }}</h1>
        <ul class="breadcrumbs-page">
          <li><a href="{{ routes.root_url }}" class="h6 link">Home</a></li>
          <li class="d-flex"><i class="icon icon-caret-right"></i></li>
          <li>
            <h6 class="current-page fw-normal">{{ template.name | replace: '-', ' ' | capitalize }}</h6>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{%- endunless -%}
