{%  liquid 
  assign hover_style = hover_style | default: settings.hover_style
  assign size_option = nil
  assign style_2 = false
  assign style_4 = false
  assign style_6 = false
  assign style_8 = false

  if hover_style == 'style_2'  
    assign style_2 = true
  elsif hover_style == 'style_4'  
    assign style_4 = true
  
  elsif hover_style == 'style_6'  
    assign style_6 = true
  
  elsif hover_style == 'style_8'  
    assign style_8 = true
  endif
%}


{%- for option in product.options_with_values -%}
  {%- if option.name == 'Size' -%}
    {%- assign size_option = option -%}
  {%- endif -%}
{%- endfor -%}

{%- if size_option -%}
  <div class="variant-box {% if style_8 %}bot {% endif %}{% if style_4 or style_6 or style_2 %}bottom-0 start-0 end-0{% endif %}">
    <ul class="{% if style_2 %}product-size_list-2 {% else %}product-size_list {% endif %}{% if style_8 %}type-3{% endif %} {% if style_4 or style_6 %}type-2{% endif %}">
      {%- for value in size_option.values -%}
        {%- assign is_available = false -%}

        {%- for variant in product.variants -%}
          {%- if variant.available and variant.options contains value -%}
            {%- assign is_available = true -%}
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}

        <li
          class="size-item h6{% unless is_available %} disabled{% endunless %}"
          data-value="{{ value | escape }}"
        >
          {{ value }}
        </li>
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}
