{% assign end_date = product.metafields.custom.countdown_timer.value %}

{% if end_date != blank %}
  {% assign now_ts = 'now' | date: '%s' %}
  {% assign end_ts = end_date | date: '%s' %}
  {% assign remaining = end_ts | minus: now_ts %}

  {% if remaining > 0 %}
    <div class="product-countdown">
      <countdown-timer data-compact="true" data-date="{{ end_date | date: '%Y-%m-%dT%H:%M:%S%z' }}"></countdown-timer>
    </div>
  {% endif %}
{% endif %}
