<a href="{{ product.url }}" class="product-img">
  {%- assign main_image = product.featured_image | default: product.images[0] -%}
  {%- assign hover_image = product.images[1] | default: main_image -%}

  {{ main_image | image_url: width: 600 | image_tag:
    class: 'img-product',
    loading: 'lazy',
    widths: '300,400,500,600,800',
    sizes: '(max-width: 768px) 100vw, 25vw',
    alt: main_image.alt
  }}

  {{ hover_image | image_url: width: 600 | image_tag:
    class: 'img-hover',
    loading: 'lazy',
    widths: '300,400,500,600,800',
    sizes: '(max-width: 768px) 100vw, 25vw',
    alt: hover_image.alt
  }}
</a>