<div class="offcanvas offcanvas-bottom canvas-compare" id="compare">
  <div class="canvas-wrapper">
    <div class="canvas-body">
      <div class="container">
        <div class="tf-compare-list main-list-clear wrap-empty_text">
          <div class="tf-compare-head">
            <h4 class="title">Compare products</h4>
          </div>
          <compare-view class="tf-compare-offcanvas list-empty" data-view="compare-modal">
            <p class="box-text_empty h6 text-main">Your Compare is currently empty</p>
          </compare-view>
          <div class="tf-compare-buttons">
            <a href="/pages/compare" class="tf-btn animate-btn d-inline-flex bg-dark-2 justify-content-center">
              Compare
            </a>
            <compare-clear class="tf-btn btn-white animate-btn animate-dark line clear-list-empty tf-compare-button-clear-all">
              Clear All
            </compare-clear>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>