<div class="btn-sidebar-mb d-xl-none left">
  <button data-bs-toggle="offcanvas" data-bs-target="#mbSidebar" class="bg-deep-violet border-0" aria-label="Sidebar">
    <i class="icon icon-sidebar"></i>
  </button>
</div>
<!-- /Button Sidebar Blog -->
<!-- Sidebar Blog-->
<div class="offcanvas offcanvas-start canvas-sidebar" id="mbSidebar">
  <div class="canvas-wrapper">
    <div class="canvas-header">
      <span class="title">SHOP BY</span>
      <span class="icon-close link icon-close-popup" data-bs-dismiss="offcanvas"></span>
    </div>
    <div class="canvas-body sidebar-mobile-append nav-shop-by overflow-auto"></div>
  </div>
</div>