<ul class="nav-icon-list">
  {% if show_account %}
    <li class="d-none d-lg-flex">
      <a
        class="nav-icon-item {% if white_icons %} text-white {% endif %} link"
        href="{{ routes.account_login_url }}"
        ><i class="icon icon-user"></i
      ></a>
    </li>
  {% endif %}
  {% if show_search %}
    <li class="d-none d-md-flex">
      <a
        class="nav-icon-item {% if white_icons %} text-white {% endif %} link"
        href="#search"
        data-bs-toggle="modal"
      >
        <i class="icon icon-magnifying-glass"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.wishlist_enabled and show_wishlist %}
    <li class="d-none d-sm-flex">
      <a
        class="nav-icon-item {% if white_icons %} text-white {% endif %} link"
        href="/pages/wishlist"
        style="position: relative;"
      >
        <span id="wishlist-icon-bubble">
          <wishlist-count class="count d-none">
            <span aria-hidden="true">0</span>
            <span class="visually-hidden">Wishlist items</span>
          </wishlist-count>
        </span>
        <i class="icon icon-heart"></i>
      </a>
    </li>
  {% endif %}
  {% if show_cart %}
    <li
      class="shop-cart"
    >
      <cart-drawer-open class="d-flex">
        <button type="button" class="cart-drawer-open" aria-controls="mini-cart">
        <span class="cart-icon-bubble">
          <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
          {%- if cart != empty -%}
            <span class="count {% if cart.item_count >= 100 %} cart-count-bubble--dot{% endif %}">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endif -%}
              <span class="visually-hidden">
                {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
              </span>
            </span>
          {%- endif -%}
        </span>

        <span class="nav-icon-item link">
          <i class="icon icon-shopping-cart-simple"></i>
        </span>
        </button>
      
      </cart-drawer-open>
    </li>
  {% endif %}
</ul>