<ul class="box-nav-menu {{ classes }}">
  {%- for link in section.settings.menu.links -%}
    <li class="menu-item {% if mobile_nav_none %} mn-none {% endif %}">
      <a href="{{ link.url }}" class="item-link {{ menu_item_style }}">
        {{- link.title }}
        {%- assign has_mega_menu = false -%}
        {% for block in section.blocks %}
          {% if block.settings['menu-handle'] == link.handle %}
            {% assign has_mega_menu = true %}
          {% endif %}
        {% endfor %}
        {% if has_mega_menu %}<i class="icon icon-caret-down"></i>{% endif %}
      </a>

      {% comment %}Mega Menu{% endcomment %}
      {% for block in section.blocks %}
        {% if block.type == 'mega_menu' and block.settings['menu-handle'] == link.handle %}
          {% render 'mega-menu', block: block, link: link, modal_title: section.settings.modal_title %}
        {% endif %}
      {% endfor %}
    </li>
  {% endfor %}
</ul>
