<li>
  <a href="#quickView" data-bs-toggle="modal" class="hover-tooltip tooltip-left box-icon quick-view" data-product-handle="{{ product.handle }}">
    <span class="icon icon-view"></span>
    <span class="tooltip">Quick view</span>
  </a>
</li>