<li class="compare">
  <a href="#compare" data-bs-toggle="offcanvas" class="hover-tooltip tooltip-left box-icon add-to-compare" data-product-handle="{{ product.handle }}">
    <span class="icon icon-compare"></span>
    <span class="tooltip">Compare</span>
  </a>
</li>