{% case type %}
  {% when 'icon' %}
    <add-to-cart data-variant-id="{{ product.selected_or_first_available_variant.id }}">
    <li>
      <a class="hover-tooltip tooltip-left box-icon add-to-cart" data-variant-id="{{ product.selected_or_first_available_variant.id }}">
        <span class="icon icon-shopping-cart-simple"></span>
        <span class="tooltip">Add to cart</span>
      </a>
    </li>
    </add-to-cart>

  {% when 'button' %}
    <add-to-cart data-variant-id="{{ product.selected_or_first_available_variant.id }}">
      <a class="tf-btn animate-btn add-to-cart" data-variant-id="{{ product.selected_or_first_available_variant.id }}">
        Add to Cart
        <i class="icon icon-shopping-cart-simple"></i>
      </a>
    </add-to-cart>  
{% endcase %}