{% doc %}
  Renders a product swiper grid for a collection.

  @param {string} collection_ref - Collection reference from settings
  @param {number} products_limit - Max products to show
{% enddoc %}

<div
  dir="ltr"
  class="swiper tf-swiper wrap-sw-over wow fadeInUp"
  data-preview="4"
  data-tablet="3"
  data-mobile-sm="2"
  data-mobile="2"
  data-space-lg="48"
  data-space-md="30"
  data-space="12"
  data-pagination="2"
  data-pagination-sm="2"
  data-pagination-md="3"
  data-pagination-lg="4"
  data-grid="{{ grid_rows }}"
>
  <div class="swiper-wrapper">
    {% if collection_ref != blank %}
      {% assign collection_products = collections[collection_ref].products %}
      {% for product in collection_products limit: products_limit %}
        <div class="swiper-slide">
          {% render 'card-product', product: product, show_wishlist: true, show_compare: true, show_quick_view: true, show_add_to_cart: true %}
        </div>
      {% endfor %}
    {% else %}
      {% for i in (1..4) %}
        <div class="swiper-slide">
          <div class="card-product">
            <div class="card-product_wrapper">
              <div class="product-img placeholder">
                {{ 'product-apparel-' | append: i | placeholder_svg_tag: 'placeholder-svg w-100' }}
              </div>
            </div>
            <div class="card-product_info">
              <div class="name-product h4 link">{{ 'onboarding.product_title' | t }}</div>
              <div class="price-wrap">
                <span class="price-new h6">{{ 1999 | money }}</span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="sw-dot-default tf-sw-pagination"></div>
</div>
