{% assign class = class %}
<h2 class="{{ class }} {% if subtitle %}mb-8 {% endif %}{% if large_title == 'true' %}h1 {% endif %}{% if heading_weight %}fw-{{ heading_weight }}{% endif %}">{{ title | escape | newline_to_br }}
</h2>

