{%- if settings.page_transition_enabled -%}
    <div class="transition-cover preload preload-container" id="preload">
        <div class="preload-logo">
            <div class="spinner"></div>
        </div>
    </div>
{%- endif -%}
