{% if yotpo_widget == 'category_star_rating' %}{% endif %}
  <div
    class="yotpo-widget-instance"
    id="yotpo-category-stars"
    data-yotpo-instance-id="679331"
    data-yotpo-product-id="{{product.id}}"
    data-yotpo-cart-product-id="{{item.product.id}}"
    data-yotpo-section-id="{{template.name}}"
  ></div>
  <style>
    #yotpo-category-stars .yotpo-sr-bottom-line-summary {
     flex-direction: unset!important;
     flex-wrap: wrap;
    }
    .yotpo-sr-bottom-line-text.yotpo-sr-bottom-line-text--right-panel {
      font-size: 12px !important;
    }
  </style>

