<div class="body-lv-2 bg-ghost-white flat-spacing">
  {% content_for "blocks" %}
</div>

{% schema %}
{
  "name": "Body Level 2",
  "settings": [],
  "blocks": [
    {
      "type": "product-swiper__"
    },
    {
      "type": "best-seller-grid__"
    }
  ],
  "presets": [
    {
      "name": "Body Level 2",
      "blocks": [
        {
          "type": "product-swiper__"
        }
      ]
    }
  ]
}
{% endschema %}