<div class="body-lv-2 bg-ghost-white flat-spacing">
  {% content_for "blocks" %}
</div>

{% schema %}
{
  "name": "Body Level 2",
  "settings": [],
  "blocks": [
    {
      "type": "product-swiper__"
    },
    {
      "type": "best-seller-grid__"
    },
    {
      "type": "deal-of-the-day__"
    },
    {
      "type": "footer-4__"
    }
  ],
  "presets": [
    {
      "name": "Body Level 2",
      "blocks": [
        {
          "type": "product-swiper__"
        },
        {
          "type": "footer-4__",
          "blocks": [
            { "type": "footer-benefit" },
            { "type": "footer-benefit" },
            { "type": "footer-benefit" },
            { "type": "footer-benefit" }
          ]
        }
      ]
    }
  ]
}
{% endschema %}