<div class="s-collection {% if section.settings.container_type == 'full-width' %}px-0{% endif %}">
  <div
    dir="ltr"
    class="swiper tf-swiper"
    data-preview="{{ section.settings.columns_desktop }}"
    data-tablet="2"
    data-mobile-sm="2"
    data-mobile="1"
    data-pagination="1"
    data-space-lg="24"
    data-space-md="15"
    data-space="10"
    data-pagination-sm="1"
    data-pagination-md="2"
    data-pagination-lg="3"
  >
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide" {{ block.shopify_attributes }}>
          {% render 'collection-card', 
            block: block, 
            layout: section.settings.layout 
          %}
        </div>
      {% endfor %}
    </div>

    <div class="sw-dot-default tf-sw-pagination"></div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Slider",
  "max_blocks": 12,
  "settings": [
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "select",
      "id": "container_type",
      "label": "Container Type",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "full-width",
          "label": "Full Width"
        }
      ],
      "default": "container"
    },
    {
      "type": "select",
      "id": "content_style",
      "label": "Content Style",
      "options": [
        {
          "value": "pill",
          "label": "Pill"
        },
        {
          "value": "underline",
          "label": "Underline"
        }
      ],
      "default": "pill"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout Style",
      "visible_if": "{{ section.settings.content_style == 'pill' }}",
      "options": [
        {
          "value": "layout-1",
          "label": "Layout 1 (Smaller Titles)"
        },
        {
          "value": "layout-2",
          "label": "Layout 2 (Bold Titles)"
        }
      ],
      "default": "layout-1"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "label": "Items on Desktop",
      "options": [
        {
          "value": "2",
          "label": "2 items"
        },
        {
          "value": "3",
          "label": "3 items"
        }
      ],
      "default": "3"
    }
  ],
  "blocks": [
    {
      "type": "collection_item",
      "name": "Collection Item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select collection"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "Custom Image (Optional)"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Shop now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Slider",
      "category": "Collection",
      "settings": {
        "layout": "layout-1"
      },
      "blocks": [
        { "type": "collection_item" },
        { "type": "collection_item" },
        { "type": "collection_item" }
      ]
    }
  ]
}
{% endschema %}
