<section class="s-contact-information flat-spacing">
  <div class="container">
    <div class="row d-flex align-items-center">
      <!-- IMAGE COLUMN -->
      <div class="col-lg-7">
        <div class="image mb-lg-0">
          {%- if section.settings.image != blank -%}
            {{
              section.settings.image
              | image_url: width: 820
              | image_tag:
                loading: 'lazy',
                width: 820,
                height: 755,
                alt: section.settings.image.alt
            }}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder_svg' }}
          {%- endif -%}
        </div>
      </div>

      <!-- CONTENT COLUMN -->
      <div class="col-lg-5">
        <div class="infor-content">
          {%- if section.settings.heading != blank -%}
            <p class="title h1 fw-medium text-black">
              {{ section.settings.heading }}
            </p>
          {%- endif -%}

          <ul class="infor-store">
            <!-- store-ADDRESS -->
            {% content_for 'block', type: 'store-address', id: 'store-address' %}

            <!-- CONTACT -->
            {% content_for 'block', type: 'store-contact', id: 'store-contact' %}

            <!-- SOCIAL -->
            {% content_for 'block', type: 'store-social', id: 'store-social' %}

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Contact Information",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Contact Information"
    }
  ],
  "blocks": [
    {
      "type": "store-address",
    },
    {
      "type": "store-contact",
    },
    {
      "type": "store-social",
    }
  ],
  "presets": [
    {
      "name": "Contact Information",
      "category": "Contact",
      "blocks": [
        {
          "type": "store-address"
        },
        {
          "type": "store-contact"
        },
        {
          "type": "store-social"
        }
      ]
    }
  ]
}
{% endschema %}
