<section class="themesFlat">
  <div class="container">
    {% render 'coupon-card',
      title: section.settings.title,
      coupon_code: section.settings.coupon_code,
      bg_color: section.settings.bg_color,
      copy_color: section.settings.copy_color
    %}
  </div>
</section>

{% schema %}
{
  "name": "Coupon",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Buy 2 Get 1 Free and Get 35% Off Voucher"
    },
    {
      "type": "text",
      "id": "coupon_code",
      "label": "Coupon Code",
      "default": "35%OFFVOUCHER"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "copy_color",
      "label": "Copy Text Color"
    }
  ],
  "presets": [
    {
      "name": "Coupon",
      "category": "Content"
    }
  ]
}
{% endschema %}