<section class="flat-spacing">
  <div class="container">
    <div class="row">
      <div class="{% if section.settings.show_sidebar %}col-lg-9{% else %}col-12{% endif %}">
        <ul class="faq-list" id="faq-accordion-{{ section.id }}">
          {% content_for 'blocks' %}
        </ul>
        <div class="faq-no-results d-none text-center mt-4">
          <p class="h5">No results found for your search.</p>
        </div>
      </div>
      
      {%- if section.settings.show_sidebar -%}
        <div class="col-lg-3 d-none d-lg-block">
          {% render 'sidebar-faq' sticky: true %}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% comment %} Sidebar Mobile {% endcomment %}
{%- if section.settings.show_sidebar -%}
  <div class="btn-sidebar-mb d-lg-none right">
    <button data-bs-toggle="offcanvas" data-bs-target="#mbSidebar">
      <i class="icon icon-sidebar"></i>
    </button>
  </div>
  <div class="offcanvas offcanvas-end canvas-sidebar" id="mbSidebar">
    <div class="canvas-wrapper">
      <div class="canvas-header">
        <span class="title h4 fw-bold">Sidebar</span>
        <span class="icon-close link icon-close-popup" data-bs-dismiss="offcanvas"></span>
      </div>
      <div class="canvas-body sidebar-mobile-append blog-sidebar">
        {% render 'sidebar-faq' %}
      </div>
    </div>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "FAQ Section",
  "settings": [
    {
      "type": "header",
      "content": "Sidebar Settings"
    },
    {
      "type": "checkbox",
      "id": "show_sidebar",
      "label": "Show Sidebar",
      "default": true
    },
    {
      "type": "text",
      "id": "sidebar_title",
      "label": "Search Title",
      "default": "Frequently asked questions"
    },
    {
      "type": "header",
      "content": "Sidebar Banner"
    },
    {
      "type": "image_picker",
      "id": "sidebar_banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "sidebar_banner_subtitle",
      "label": "Banner Subtitle",
      "default": "Sale Upto 45%"
    },
    {
      "type": "text",
      "id": "sidebar_banner_title",
      "label": "Banner Title",
      "default": "Fall winter collection"
    },
    {
      "type": "text",
      "id": "sidebar_banner_button_text",
      "label": "Button Text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "sidebar_banner_link",
      "label": "Banner Link"
    }
  ],
  "blocks": [
    {
      "type": "faq-item"
    }
  ],
  "presets": [
    {
      "name": "FAQ Section",
      "blocks": [
        {
          "type": "faq-item"
        },
        {
          "type": "faq-item"
        }
      ]
    }
  ]
}
{% endschema %}
