
<div class="gps-462000613589254991 gps gpsi">
  <style>
    .gps-462000613589254991 .-rotate-90,.gps-462000613589254991 .rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-462000613589254991 .g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-462000613589254991 .g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-462000613589254991 .g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-462000613589254991 .g-subheading-1{font-family:var(--g-sh1-ff);font-size:var(--g-sh1-size);font-style:var(--g-sh1-fs);font-weight:var(--g-sh1-weight);letter-spacing:var(--g-sh1-ls);line-height:var(--g-sh1-lh)}.gps-462000613589254991 .g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-462000613589254991 .g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-462000613589254991 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-462000613589254991 .g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-462000613589254991 .g-paragraph-3{font-family:var(--g-p3-ff);font-size:var(--g-p3-size);font-style:var(--g-p3-fs);font-weight:var(--g-p3-weight);letter-spacing:var(--g-p3-ls);line-height:var(--g-p3-lh)}.gps-462000613589254991 .g-s-small{padding:4px 16px}.gps-462000613589254991 .g-s-medium{padding:8px 24px}.gps-462000613589254991 .g-s-large{padding:12px 32px}.gps-462000613589254991 .g-s-tag-small{padding:2px 8px}.gps-462000613589254991 .g-s-tag-medium{padding:4px 12px}.gps-462000613589254991 .g-s-tag-large{padding:8px 16px}.gps-462000613589254991 .g-s-none{padding:0}.gps-462000613589254991 .g-s-icon-small{padding:8px}.gps-462000613589254991 .g-s-icon-medium{padding:16px}.gps-462000613589254991 .g-s-icon-large{padding:24px}.gps-462000613589254991 .relative{position:relative}.gps-462000613589254991 .mx-auto{margin-left:auto;margin-right:auto}.gps-462000613589254991 .mb-0{margin-bottom:0}.gps-462000613589254991 .mr-\[12px\]{margin-right:12px}.gps-462000613589254991 .block{display:block}.gps-462000613589254991 .flex{display:flex}.gps-462000613589254991 .inline-flex{display:inline-flex}.gps-462000613589254991 .grid{display:grid}.gps-462000613589254991 .hidden{display:none}.gps-462000613589254991 .h-6{height:1.5rem}.gps-462000613589254991 .w-6{width:1.5rem}.gps-462000613589254991 .w-full{width:100%}.gps-462000613589254991 .max-w-full{max-width:100%}.gps-462000613589254991 .flex-none{flex:none}.gps-462000613589254991 .-rotate-90{--tw-rotate:-90deg}.gps-462000613589254991 .-rotate-90,.gps-462000613589254991 .rotate-90{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-462000613589254991 .rotate-90{--tw-rotate:90deg}.gps-462000613589254991 .flex-col{flex-direction:column}.gps-462000613589254991 .items-center{align-items:center}.gps-462000613589254991 .justify-center{justify-content:center}.gps-462000613589254991 .border{border-width:1px}.gps-462000613589254991 .border-g-bg-1{border-color:var(--g-c-bg-1)}.gps-462000613589254991 .border-g-bg-2{border-color:var(--g-c-bg-2)}.gps-462000613589254991 .border-g-bg-3{border-color:var(--g-c-bg-3)}.gps-462000613589254991 .border-g-brand{border-color:var(--g-c-brand)}.gps-462000613589254991 .border-g-error{border-color:var(--g-c-error)}.gps-462000613589254991 .border-g-highlight{border-color:var(--g-c-highlight)}.gps-462000613589254991 .border-g-info{border-color:var(--g-c-info)}.gps-462000613589254991 .border-g-line-1{border-color:var(--g-c-line-1)}.gps-462000613589254991 .border-g-line-2{border-color:var(--g-c-line-2)}.gps-462000613589254991 .border-g-line-3{border-color:var(--g-c-line-3)}.gps-462000613589254991 .border-g-success{border-color:var(--g-c-success)}.gps-462000613589254991 .border-g-text-1{border-color:var(--g-c-text-1)}.gps-462000613589254991 .border-g-text-2{border-color:var(--g-c-text-2)}.gps-462000613589254991 .border-g-text-3{border-color:var(--g-c-text-3)}.gps-462000613589254991 .border-g-warning{border-color:var(--g-c-warning)}.gps-462000613589254991 .bg-g-bg-1{background-color:var(--g-c-bg-1)}.gps-462000613589254991 .bg-g-bg-2{background-color:var(--g-c-bg-2)}.gps-462000613589254991 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-462000613589254991 .bg-g-brand{background-color:var(--g-c-brand)}.gps-462000613589254991 .bg-g-error{background-color:var(--g-c-error)}.gps-462000613589254991 .bg-g-highlight{background-color:var(--g-c-highlight)}.gps-462000613589254991 .bg-g-info{background-color:var(--g-c-info)}.gps-462000613589254991 .bg-g-line-1{background-color:var(--g-c-line-1)}.gps-462000613589254991 .bg-g-line-2{background-color:var(--g-c-line-2)}.gps-462000613589254991 .bg-g-line-3{background-color:var(--g-c-line-3)}.gps-462000613589254991 .bg-g-success{background-color:var(--g-c-success)}.gps-462000613589254991 .bg-g-text-1{background-color:var(--g-c-text-1)}.gps-462000613589254991 .bg-g-text-2{background-color:var(--g-c-text-2)}.gps-462000613589254991 .bg-g-text-3{background-color:var(--g-c-text-3)}.gps-462000613589254991 .bg-g-warning{background-color:var(--g-c-warning)}.gps-462000613589254991 .font-g-body{font-family:var(--g-font-body),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-462000613589254991 .font-g-code{font-family:var(--g-font-code),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-462000613589254991 .font-g-heading{font-family:var(--g-font-heading),ui-serif,Georgia,Cambria,"Times New Roman",Times,serif}.gps-462000613589254991 .text-g-bg-1{color:var(--g-c-bg-1)}.gps-462000613589254991 .text-g-bg-2{color:var(--g-c-bg-2)}.gps-462000613589254991 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-462000613589254991 .text-g-brand{color:var(--g-c-brand)}.gps-462000613589254991 .text-g-error{color:var(--g-c-error)}.gps-462000613589254991 .text-g-highlight{color:var(--g-c-highlight)}.gps-462000613589254991 .text-g-info{color:var(--g-c-info)}.gps-462000613589254991 .text-g-line-1{color:var(--g-c-line-1)}.gps-462000613589254991 .text-g-line-2{color:var(--g-c-line-2)}.gps-462000613589254991 .text-g-line-3{color:var(--g-c-line-3)}.gps-462000613589254991 .text-g-success{color:var(--g-c-success)}.gps-462000613589254991 .text-g-text-1{color:var(--g-c-text-1)}.gps-462000613589254991 .text-g-text-2{color:var(--g-c-text-2)}.gps-462000613589254991 .text-g-text-3{color:var(--g-c-text-3)}.gps-462000613589254991 .text-g-warning{color:var(--g-c-warning)}.gps-462000613589254991 .decoration-g-bg-1{text-decoration-color:var(--g-c-bg-1)}.gps-462000613589254991 .decoration-g-bg-2{text-decoration-color:var(--g-c-bg-2)}.gps-462000613589254991 .decoration-g-bg-3{text-decoration-color:var(--g-c-bg-3)}.gps-462000613589254991 .decoration-g-brand{text-decoration-color:var(--g-c-brand)}.gps-462000613589254991 .decoration-g-error{text-decoration-color:var(--g-c-error)}.gps-462000613589254991 .decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-462000613589254991 .decoration-g-info{text-decoration-color:var(--g-c-info)}.gps-462000613589254991 .decoration-g-line-1{text-decoration-color:var(--g-c-line-1)}.gps-462000613589254991 .decoration-g-line-2{text-decoration-color:var(--g-c-line-2)}.gps-462000613589254991 .decoration-g-line-3{text-decoration-color:var(--g-c-line-3)}.gps-462000613589254991 .decoration-g-success{text-decoration-color:var(--g-c-success)}.gps-462000613589254991 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-462000613589254991 .decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-462000613589254991 .decoration-g-text-3{text-decoration-color:var(--g-c-text-3)}.gps-462000613589254991 .decoration-g-warning{text-decoration-color:var(--g-c-warning)}.gps-462000613589254991 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-462000613589254991 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-462000613589254991 .duration-200{transition-duration:.2s}.gps-462000613589254991 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-462000613589254991 .hover\:border-g-bg-1:hover{border-color:var(--g-c-bg-1)}.gps-462000613589254991 .hover\:border-g-bg-2:hover{border-color:var(--g-c-bg-2)}.gps-462000613589254991 .hover\:border-g-bg-3:hover{border-color:var(--g-c-bg-3)}.gps-462000613589254991 .hover\:border-g-brand:hover{border-color:var(--g-c-brand)}.gps-462000613589254991 .hover\:border-g-error:hover{border-color:var(--g-c-error)}.gps-462000613589254991 .hover\:border-g-highlight:hover{border-color:var(--g-c-highlight)}.gps-462000613589254991 .hover\:border-g-info:hover{border-color:var(--g-c-info)}.gps-462000613589254991 .hover\:border-g-line-1:hover{border-color:var(--g-c-line-1)}.gps-462000613589254991 .hover\:border-g-line-2:hover{border-color:var(--g-c-line-2)}.gps-462000613589254991 .hover\:border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-462000613589254991 .hover\:border-g-success:hover{border-color:var(--g-c-success)}.gps-462000613589254991 .hover\:border-g-text-1:hover{border-color:var(--g-c-text-1)}.gps-462000613589254991 .hover\:border-g-text-2:hover{border-color:var(--g-c-text-2)}.gps-462000613589254991 .hover\:border-g-text-3:hover{border-color:var(--g-c-text-3)}.gps-462000613589254991 .hover\:border-g-warning:hover{border-color:var(--g-c-warning)}.gps-462000613589254991 .hover\:bg-g-bg-1:hover{background-color:var(--g-c-bg-1)}.gps-462000613589254991 .hover\:bg-g-bg-2:hover{background-color:var(--g-c-bg-2)}.gps-462000613589254991 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}.gps-462000613589254991 .hover\:bg-g-brand:hover{background-color:var(--g-c-brand)}.gps-462000613589254991 .hover\:bg-g-error:hover{background-color:var(--g-c-error)}.gps-462000613589254991 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-462000613589254991 .hover\:bg-g-info:hover{background-color:var(--g-c-info)}.gps-462000613589254991 .hover\:bg-g-line-1:hover{background-color:var(--g-c-line-1)}.gps-462000613589254991 .hover\:bg-g-line-2:hover{background-color:var(--g-c-line-2)}.gps-462000613589254991 .hover\:bg-g-line-3:hover{background-color:var(--g-c-line-3)}.gps-462000613589254991 .hover\:bg-g-success:hover{background-color:var(--g-c-success)}.gps-462000613589254991 .hover\:bg-g-text-1:hover{background-color:var(--g-c-text-1)}.gps-462000613589254991 .hover\:bg-g-text-2:hover{background-color:var(--g-c-text-2)}.gps-462000613589254991 .hover\:bg-g-text-3:hover{background-color:var(--g-c-text-3)}.gps-462000613589254991 .hover\:bg-g-warning:hover{background-color:var(--g-c-warning)}.gps-462000613589254991 .hover\:text-g-bg-1:hover{color:var(--g-c-bg-1)}.gps-462000613589254991 .hover\:text-g-bg-2:hover{color:var(--g-c-bg-2)}.gps-462000613589254991 .hover\:text-g-bg-3:hover{color:var(--g-c-bg-3)}.gps-462000613589254991 .hover\:text-g-brand:hover{color:var(--g-c-brand)}.gps-462000613589254991 .hover\:text-g-error:hover{color:var(--g-c-error)}.gps-462000613589254991 .hover\:text-g-highlight:hover{color:var(--g-c-highlight)}.gps-462000613589254991 .hover\:text-g-info:hover{color:var(--g-c-info)}.gps-462000613589254991 .hover\:text-g-line-1:hover{color:var(--g-c-line-1)}.gps-462000613589254991 .hover\:text-g-line-2:hover{color:var(--g-c-line-2)}.gps-462000613589254991 .hover\:text-g-line-3:hover{color:var(--g-c-line-3)}.gps-462000613589254991 .hover\:text-g-success:hover{color:var(--g-c-success)}.gps-462000613589254991 .hover\:text-g-text-1:hover{color:var(--g-c-text-1)}.gps-462000613589254991 .hover\:text-g-text-2:hover{color:var(--g-c-text-2)}.gps-462000613589254991 .hover\:text-g-text-3:hover{color:var(--g-c-text-3)}.gps-462000613589254991 .hover\:text-g-warning:hover{color:var(--g-c-warning)}}.gps-462000613589254991 .focus\:border-g-bg-1:focus{border-color:var(--g-c-bg-1)}.gps-462000613589254991 .focus\:border-g-bg-2:focus{border-color:var(--g-c-bg-2)}.gps-462000613589254991 .focus\:border-g-bg-3:focus{border-color:var(--g-c-bg-3)}.gps-462000613589254991 .focus\:border-g-brand:focus{border-color:var(--g-c-brand)}.gps-462000613589254991 .focus\:border-g-error:focus{border-color:var(--g-c-error)}.gps-462000613589254991 .focus\:border-g-highlight:focus{border-color:var(--g-c-highlight)}.gps-462000613589254991 .focus\:border-g-info:focus{border-color:var(--g-c-info)}.gps-462000613589254991 .focus\:border-g-line-1:focus{border-color:var(--g-c-line-1)}.gps-462000613589254991 .focus\:border-g-line-2:focus{border-color:var(--g-c-line-2)}.gps-462000613589254991 .focus\:border-g-line-3:focus{border-color:var(--g-c-line-3)}.gps-462000613589254991 .focus\:border-g-success:focus{border-color:var(--g-c-success)}.gps-462000613589254991 .focus\:border-g-text-1:focus{border-color:var(--g-c-text-1)}.gps-462000613589254991 .focus\:border-g-text-2:focus{border-color:var(--g-c-text-2)}.gps-462000613589254991 .focus\:border-g-text-3:focus{border-color:var(--g-c-text-3)}.gps-462000613589254991 .focus\:border-g-warning:focus{border-color:var(--g-c-warning)}.gps-462000613589254991 .focus\:bg-g-bg-1:focus{background-color:var(--g-c-bg-1)}.gps-462000613589254991 .focus\:bg-g-bg-2:focus{background-color:var(--g-c-bg-2)}.gps-462000613589254991 .focus\:bg-g-bg-3:focus{background-color:var(--g-c-bg-3)}.gps-462000613589254991 .focus\:bg-g-brand:focus{background-color:var(--g-c-brand)}.gps-462000613589254991 .focus\:bg-g-error:focus{background-color:var(--g-c-error)}.gps-462000613589254991 .focus\:bg-g-highlight:focus{background-color:var(--g-c-highlight)}.gps-462000613589254991 .focus\:bg-g-info:focus{background-color:var(--g-c-info)}.gps-462000613589254991 .focus\:bg-g-line-1:focus{background-color:var(--g-c-line-1)}.gps-462000613589254991 .focus\:bg-g-line-2:focus{background-color:var(--g-c-line-2)}.gps-462000613589254991 .focus\:bg-g-line-3:focus{background-color:var(--g-c-line-3)}.gps-462000613589254991 .focus\:bg-g-success:focus{background-color:var(--g-c-success)}.gps-462000613589254991 .focus\:bg-g-text-1:focus{background-color:var(--g-c-text-1)}.gps-462000613589254991 .focus\:bg-g-text-2:focus{background-color:var(--g-c-text-2)}.gps-462000613589254991 .focus\:bg-g-text-3:focus{background-color:var(--g-c-text-3)}.gps-462000613589254991 .focus\:bg-g-warning:focus{background-color:var(--g-c-warning)}.gps-462000613589254991 .focus\:text-g-bg-1:focus{color:var(--g-c-bg-1)}.gps-462000613589254991 .focus\:text-g-bg-2:focus{color:var(--g-c-bg-2)}.gps-462000613589254991 .focus\:text-g-bg-3:focus{color:var(--g-c-bg-3)}.gps-462000613589254991 .focus\:text-g-brand:focus{color:var(--g-c-brand)}.gps-462000613589254991 .focus\:text-g-error:focus{color:var(--g-c-error)}.gps-462000613589254991 .focus\:text-g-highlight:focus{color:var(--g-c-highlight)}.gps-462000613589254991 .focus\:text-g-info:focus{color:var(--g-c-info)}.gps-462000613589254991 .focus\:text-g-line-1:focus{color:var(--g-c-line-1)}.gps-462000613589254991 .focus\:text-g-line-2:focus{color:var(--g-c-line-2)}.gps-462000613589254991 .focus\:text-g-line-3:focus{color:var(--g-c-line-3)}.gps-462000613589254991 .focus\:text-g-success:focus{color:var(--g-c-success)}.gps-462000613589254991 .focus\:text-g-text-1:focus{color:var(--g-c-text-1)}.gps-462000613589254991 .focus\:text-g-text-2:focus{color:var(--g-c-text-2)}.gps-462000613589254991 .focus\:text-g-text-3:focus{color:var(--g-c-text-3)}.gps-462000613589254991 .focus\:text-g-warning:focus{color:var(--g-c-warning)}@media (max-width:1023px){.gps-462000613589254991 .tablet\:block{display:block}.gps-462000613589254991 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-462000613589254991 .mobile\:block{display:block}.gps-462000613589254991 .mobile\:hidden{display:none}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gbhf_i2a-_"
        style="--b:none;--bc:transparent;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pb:var(--g-s-4xl);--radius:var(--g-radius-small);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbhf_i2a-_ mx-auto mb-0 grid max-w-full transition-colors duration-200 ease-in-out"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="g1BcATBq-6 relative flex flex-col"
    >
      <div style="--b:none;--bc:transparent;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--mb:var(--g-s-l);--op:100%;--radius:var(--g-radius-small)" class="gpG5iMUTww">
    <h2
      
      class="gpG5iMUTww gp-text block tablet:block mobile:block"
      style="--ts:none;--ta:center;--size:40px;--lh:130%;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:40px;--size-mobile:35px;--tt:default;--c:#242424"
    ><p>Frequently Asked Questions</p></h2>
    </div><div
      
      class="goE2iChEEu text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:center;--line-clamp:0;--size:19px;--lh:150%;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size-tablet:19px;--lh-tablet:150%;--size-mobile:17px;--tt:default;--mb:var(--g-s-3xl);--b:none;--bc:transparent;--bw:0px;--shadow:none;--op:100%;--radius:var(--g-radius-small)"
    ><p>Have questions? We’re here to help</p></div><div style="--b:none;--bc:transparent;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:0px;--pb:0px;--radius:var(--g-radius-small);--mb:var(--g-s-l)" class="gZ2S7ZnI9h">
    
    <div
      class="flex justify-center"
    >
      <div
        style="--bs:solid;--bbw:1px;--minw:90px;--t:rotate(0deg);--bc:var(--g-c-line-2, line-2)"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--bc:var(--g-c-line-2, line-2);--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--minw:90px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--minw:90px"
    ></div>
  
      </div>
    </div>
  
    </div><div style="--b:none;--bc:transparent;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--mb:auto;--op:100%;--radius:var(--g-radius-small)" class="g1_36htrWu">
    
    <gp-accordion
      class="flex w-full flex-col"
      style="--rg:var(--g-s-l)"
      gp-data='{"setting":{"expanded":false,"activeKey":1,"isIconPlus":true,"iconPosition":"right"},"styles":{"bgColor":{"normal":"transparent"},"color":{"active":"#575757","hover":"#575757","normal":"#B4B4B4"},"headerBorder":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"itemBorder":{"normal":{"border":"solid","borderLabel":"Style 1","borderType":"style-1","color":"#E0E0E0","isCustom":true,"width":"0px 0px 1px 0px"}},"width":{"desktop":"800px"},"fullWidth":{"desktop":true},"textColor":{"normal":"#242424","hover":"#000000","active":"#000000"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"32px"}}}},"uid":"g1_36htrWu"}'
    >
      <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="0"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="g1_36htrWu gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="0"
        class="g1_36htrWu flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--c:#000000"
      >
        <div class="mr-[12px]">
          <span
            style="--c:#575757"
            data-index="0"
            class="g1_36htrWu gp-accordion-item_icon inline-flex transition-all duration-200"
          ><svg width='16' height='16' fill='currentColor' viewBox="0 0 448 512"><path fill='currentColor' d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"/></svg></span>
        </div>
        <span
      
      class="block tablet:block mobile:block"
      style="--size:19px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:17px;--lh-tablet:150%;--size-mobile:17px"
    >HOW LONG DOES A BOTTLE OF C REFINER VITAMIN C BRIGHTENING SERUM LAST?</span>
      </div>
      <div
        uid="gAOKMi99rU"
        data-index="0"
        class="g1_36htrWu gp-accordion-item_body block"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g3UTMnJ_az relative flex flex-col"
    >
      <div
      
      class="g6Sj1qxkdj g-paragraph-1 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--mt:-16px;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pb:var(--g-s-2xl)"
    ><p><span style="background-color:rgb(255,255,255);color:rgb(33,35,38);font-size:16px;">The bottle of Universal C Refiner Vitamin C Brightening Serum lasts for one month if you use it in the morning and evening. It has a shelf life of 3-5 years un-opened.</span></p></div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="1"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="g1_36htrWu gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="1"
        class="g1_36htrWu flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#242424;--hvr-c:#000000;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#575757;--c:#B4B4B4"
            data-index="1"
            class="g1_36htrWu gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        <span
      
      class="block tablet:block mobile:block"
      style="--size:19px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:17px;--lh-tablet:150%;--size-mobile:17px"
    >HOW FAST WILL I BEGIN TO SEE VISIBLE RESULTS?</span>
      </div>
      <div
        uid="gEL_RZ30hP"
        data-index="1"
        class="g1_36htrWu gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g7ErcIO-bg relative flex flex-col"
    >
      <div
      
      class="gF6q4e6fnP g-paragraph-1 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--mt:-16px;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pb:var(--g-s-2xl)"
    ><p><span style="background-color:rgb(255,255,255);color:rgb(33,35,38);font-size:16px;">Our independent clinical testing shows that after just 4 weeks of applying this product regularly, most people will already start noticing a difference in their skin texture within 7 days. For full results - reduce lines and wrinkles, using morning and day it will take 4 weeks.</span></p></div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="2"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="g1_36htrWu gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="2"
        class="g1_36htrWu flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#242424;--hvr-c:#000000;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#575757;--c:#B4B4B4"
            data-index="2"
            class="g1_36htrWu gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        <span
      
      class="block tablet:block mobile:block"
      style="--size:19px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:17px;--lh-tablet:150%;--size-mobile:17px"
    >HOW LONG DOES C HOW LONG WILL C REFINER VITAMIN C BRIGHTENING SERUM LAST ON MY SKIN?</span>
      </div>
      <div
        uid="g7NcW75RQd"
        data-index="2"
        class="g1_36htrWu gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g0HxNzFptX relative flex flex-col"
    >
      <div
      
      class="g5b016nSuu g-paragraph-1 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--mt:-16px;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pb:var(--g-s-2xl)"
    ><p><span style="background-color:rgb(255,255,255);color:rgb(33,35,38);font-size:16px;">Universal C Refiner Vitamin C Brightening Serum contains 20% pure vitamin C in a time-released delivery system. It will continually release vitamin C for eight to twelve hours. After application the product is absorbed by the skin, so you don’t have to worry about removing it when you cleanse or reapply more product. For best results apply twice a day.</span></p></div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="3"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="g1_36htrWu gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="3"
        class="g1_36htrWu flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#242424;--hvr-c:#000000;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#575757;--c:#B4B4B4"
            data-index="3"
            class="g1_36htrWu gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        <span
      
      class="block tablet:block mobile:block"
      style="--size:19px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:17px;--lh-tablet:150%;--size-mobile:17px"
    >CAN I USE C REFINER VITAMIN C BRIGHTENING SERUM WITH PRESCRIPTION TOPICAL TREATMENTS?</span>
      </div>
      <div
        uid="gJgb_kPej7"
        data-index="3"
        class="g1_36htrWu gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g2HulkTHGg relative flex flex-col"
    >
      <div
      
      class="glqwiLRDVA g-paragraph-1 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--mt:-16px;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pb:var(--g-s-2xl)"
    ><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massanah. Cum sociis Theme natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p></div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="4"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="g1_36htrWu gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="4"
        class="g1_36htrWu flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#242424;--hvr-c:#000000;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#575757;--c:#B4B4B4"
            data-index="4"
            class="g1_36htrWu gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        <span
      
      class="block tablet:block mobile:block"
      style="--size:19px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:17px;--lh-tablet:150%;--size-mobile:17px"
    >DO I HAVE TO AVOID THE SUN WHEN USING C REFINER VITAMIN C BRIGHTENING SERUM?</span>
      </div>
      <div
        uid="gK3aM2xidW"
        data-index="4"
        class="g1_36htrWu gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g4oUvwiKKq relative flex flex-col"
    >
      <div
      
      class="guXXr0Fc3D g-paragraph-1 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--mt:-16px;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pb:var(--g-s-2xl)"
    ><p><br>&nbsp;</p><p>Universal C Refiner Vitamin C Brightening Serum is a powerful and effective way to protect your skin from sun damage, but it doesn't replace the need for SPF. We have the <a href="https://beautystat.com/collections/frontpage/products/universal-c-skin-refiner-spf?_atid=jN5QG8susKbLmdDyVZCBwuz0MokB9j">C Refiner Vitamin C Serum with SPF 50 Mineral Sunscreen</a> that is the perfect 2 in 1 step to correct and protect your skin from UVA/B damage.</p></div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="5"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="g1_36htrWu gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="5"
        class="g1_36htrWu flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#242424;--hvr-c:#000000;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#575757;--c:#B4B4B4"
            data-index="5"
            class="g1_36htrWu gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        <span
      
      class="block tablet:block mobile:block"
      style="--size:19px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:17px;--lh-tablet:150%;--size-mobile:17px"
    >MY SKIN IS SENSITIVE, IS C REFINER VITAMIN C BRIGHTENING SERUM TOO STRONG FOR ME?</span>
      </div>
      <div
        uid="gDJ1aa0pg8"
        data-index="5"
        class="g1_36htrWu gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g_-IJvLdR2 relative flex flex-col"
    >
      <div
      
      class="gHQT5FBb9W g-paragraph-1 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--mt:-16px;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pb:var(--g-s-2xl)"
    ><p><span style="background-color:rgb(255,255,255);color:rgb(33,35,38);font-size:16px;">20% is a very potent amount of vitamin C in its most active state, L-ascorbic acid. However, our Universal C Refiner Vitamin C Brightening Serum is formulated to keep most skin, even sensitive, able to use and see results quickly without any adverse effects.&nbsp;You may experience a tingling sensation when using our skin refiner, this usually dissipates after a few minutes. If the feeling is uncomfortable, cut back usage to once a day, and follow with </span><a href="https://beautystat.com/products/universal-pro-bio-moisture-boost-cream?_atid=jN5QG8susKbLmdDyVZCBwuz0MokB9p">Universal Pro-Bio Moisture Boost Cream</a><span style="background-color:rgb(255,255,255);color:rgb(33,35,38);font-size:16px;">.</span></p></div>
    </div>
      </div>
    </div>
  
              </div>
            <div
                class="flex"
                style="--jc:flex-start"
              >
                
    <div
      data-index="6"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0"
      class="g1_36htrWu gp-accordion-item"
    >
      <div class="hidden rotate-90"></div>
      <div
        aria-hidden
        data-index="6"
        class="g1_36htrWu flex items-center gp-accordion-item_header"
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--fd:row-reverse;--jc:space-between;--bgc:transparent;--c:#242424;--hvr-c:#000000;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
        <div class="mr-[12px]">
          <span
            style="--hvr-c:#575757;--c:#B4B4B4"
            data-index="6"
            class="g1_36htrWu gp-accordion-item_icon -rotate-90 inline-flex transition-all duration-200"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
        </div>
        <span
      
      class="block tablet:block mobile:block"
      style="--size:19px;--lh:150%;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size-tablet:17px;--lh-tablet:150%;--size-mobile:17px"
    >WHAT SHOULD I DO IF I EXPERIENCE OTHER NEGATIVE REACTIONS SUCH AS REDNESS, IRRITATION, OR BURNING?</span>
      </div>
      <div
        uid="gNfyKDSCr6"
        data-index="6"
        class="g1_36htrWu gp-accordion-item_body hidden"
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      >
        <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gT_0C0H-H_ relative flex flex-col"
    >
      <div
      
      class="gaUk9_7Cir g-paragraph-1 text-g-text-1 gp-text block tablet:block mobile:block"
      style="--ts:none;--c:#575757;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--tt:default;--mt:-16px;--b:none;--bc:transparent;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pb:var(--g-s-2xl)"
    ><p><span style="background-color:rgb(255,255,255);color:rgb(33,35,38);font-size:16px;">Our products are extensively tested for safety. However, some people may still experience a negative reaction. Cut your usage down to once a day and always follow with Universal Pro-Bio Moisture Boost Cream. If a severe reaction occurs, stop using immediately and call your dermatologist if necessary.</span></p></div>
    </div>
      </div>
    </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d3kbi0je7pp4lw.cloudfront.net/assets/gp-accordion.js" defer="defer"></script>
  
    </div>
    </div>
    </div>
  
            </section>
          
    
</div>
{% schema %}
  {
    
    "name": "FAQ - Style 1",
    "tag": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://app.gempages.net/edit?type=section&id=462000613589254991)"
      }
    ],
    "blocks": []
  }
{% endschema %}
