<script src="{{ 'shop.js' |  asset_url }}" defer></script>
<div class="flat-spacing">
  <div class="container">
    {% if settings.collection_layout == 'full_width' %}
      <div class="tf-shop-control">
        {% render 'facets-control-filter', collection: collection, filter_class: 'full_width' %}

        {% render 'facets-control-layout' %}

        {% comment %} Sorting Controller {% endcomment %}
        {% render 'facets-sorting-controller', collection: collection %}
      </div>

      {% comment %} Layouts {% endcomment %}
      {% render 'facets-layout', collection: collection %}
    {% endif %}

    {% comment %} Left Sidebar layout {% endcomment %}
    {% if settings.collection_layout == 'left_sidebar' %}
      <div class="row">
        <div class="col-xl-3">
          {% render 'facets-sidebar', collection: collection, class: 'd-none d-xl-block', filter_class: 'canvas-sidebar sidebar-filter', header_class: 'd-xl-none', bottom_class: 'd-xl-none', scope: 'Desktop' %}
        </div>
        <div class="col-xl-9">
          <div class="tf-shop-control">
            {% comment %} sale filter {% endcomment %}
            <div class="shop-sale-text d-none d-xl-flex">
              <input type="checkbox" name="sale" class="tf-check" id="sale">
              <label for="sale" class="label">Show only products on sale</label>
            </div>

            {% render 'facets-control-filter', collection: collection, class: 'd-xl-none', filter_class: 'canvas-sidebar sidebar-filter left', scope: 'Mobile' %}
            {% render 'facets-control-layout', allowed_layouts: '2,3,list' %}
            {% render 'facets-sorting-controller', collection: collection %}
            </div>
            {% render 'facets-layout', collection: collection %}
          
        </div>
      </div>
    {% endif %}

    {% comment %} Right Sidebar layout {% endcomment %}
    {% if settings.collection_layout == 'right_sidebar' %}
      <div class="row">
        <div class="col-xl-9">
          <div class="tf-shop-control">
            {% comment %} sale filter {% endcomment %}
            <div class="shop-sale-text d-none d-xl-flex">
              <input type="checkbox" name="sale" class="tf-check" id="sale">
              <label for="sale" class="label">Show only products on sale</label>
            </div>

            {% render 'facets-control-filter', collection: collection, class: 'd-xl-none', filter_class: 'canvas-sidebar sidebar-filter right', scope: 'Desktop' %}
            {% render 'facets-control-layout', allowed_layouts: '2,3,list' %}
            {% render 'facets-sorting-controller', collection: collection %}
            </div>
            {% render 'facets-layout', collection: collection %}
          
        </div>
        <div class="col-xl-3">
          {% render 'facets-sidebar', collection: collection, class: 'd-none d-xl-block', filter_class: 'canvas-sidebar sidebar-filter', header_class: 'd-xl-none', bottom_class: 'd-xl-none', scope: 'Mobile' %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Main Collection",
  "settings": [
      {
        "type": "number",
        "id": "truncate_words",
        "label": "Truncate words",
        "default": 30
      }
    ]
}
{% endschema %}