{%- if predictive_search.performed -%}
  <div class="predictive-search-results{% if predictive_search.resources.products.size == 0 %} is-empty{% endif %}">
    {%- if predictive_search.resources.products.size > 0 -%} 
      <p id="predictive-search-products" class="predictive-search__heading h4">{{ 'templates.search.products' | t }}</p>
    {%- else -%}
      <div class="title-wrapper center">
        <p class="title h3 title--primary">{{ 'templates.search.no_results' | t: terms: predictive_search.terms }}</p>
        <p class="typeset">{{ 'templates.search.check_the_spelling' | t }}</p>
      </div>
    {%- endif -%}
    <ul id="predictive-search-results-list" class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-products">
      {%- for product in predictive_search.resources.products -%}
      
      {% assign tags = product.tags | join: ' ' %} 

      {% if tags contains 'no_search' or tags contains 'is_sample' %}
        {% continue %}
      {% endif %}  
      {% render 'mega-product-horizontal', product: product %}
      {%- endfor -%}
      <li id="predictive-search-option-search-keywords" class="predictive-search__list-item text-center" role="option">
        <button type="submit" class="tf-btn predictive-search__item--term" tabindex="-1">
          {{ 'templates.search.search_for' | t: terms: predictive_search.terms }}
        </button>
      </li> 
    </ul>
  </div>

  <span class="hidden" data-predictive-search-live-region-count-value>
    {%- liquid
      if search.results_count == 0
        echo 'templates.search.no_results' | t: terms: predictive_search.terms
      else
        echo 'templates.search.results_with_count' | t: terms: predictive_search.terms, count: predictive_search.resources.products.size
      endif
    -%}
  </span>
{%- endif -%}
