<header class="header">
  <div class="header__inner flex">
    <h1 class="header__logo order-2">
      {% render '_logo' %}
    </h1>

    <nav class="header__nav order-1">
      <a href="">Shop</a>
      <a href="">Shop</a>
      <a href="">Shop</a>
      <a href="">Shop</a>
      <a href="">Shop</a>
      
    </nav>

    <div class="header___utils order-3">
      <a href="">Account</a>
    </div>
  </div>
</header>