<div class="tf-slideshow type-abs tf-btn-swiper-main hover-sw-nav">
  <div
    dir="ltr"
    class="swiper tf-swiper sw-slide-show slider_effect_fade"
    data-auto="true"
    data-loop="true"
    data-effect="fade"
    data-delay="3000"
  >
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          {% render 'tf-slideshow-l1', block: block %}
        </div>
      {% endfor %}
    </div>
    <div class="sw-dot-default tf-sw-pagination"></div>
  </div>
  {% if section.blocks.size > 1 %}
    <div class="tf-sw-nav nav-prev-swiper">
      <i class="icon icon-caret-left"></i>
    </div>
    <div class="tf-sw-nav nav-next-swiper">
      <i class="icon icon-caret-right"></i>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Slideshow",
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Slide Title",
          "default": "Your Slide Title"
        },
        {
          "type": "text",
          "id": "slide_subtitle",
          "label": "Slide Subtitle",
          "default": "Your Slide Subtitle"
        },
        {
          "type": "url",
          "id": "slide_link",
          "label": "Slide Link"
        },
        {
          "type": "text",
          "id": "slide_button_text",
          "label": "Button Text",
          "default": "Shop now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "category": "Slider",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
