<div class="flat-spacing">
  <div class="container">
    <wishlist-view class="">
      {% comment %} wishlist results will be rendered here {% endcomment %}
    </wishlist-view>
  </div>
</div>

{% schema %}
{
  "name": "Wishlist",
  "presets": [
    {
      "name": "Wishlist"
    }
  ]
}
{% endschema %}