@media screen and (min-width: 750px) {
  .search-modal.searching {
    height: calc(100vh - var(--announcement-height, 0px) - 48px);
  }
}

.predictive-search__results-list {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.predictive-search__results-list .prd-recent {
  margin-bottom: 15px;
}

.predictive-search__results-list .prd-recent .image img {
  object-fit: contain;
}

.predictive-search__results-list::-webkit-scrollbar {
  appearance: none;
  width: 0.25rem;
  border-radius: 1rem;
  background-color: rgba(var(--color-border), 0.3);
}

.predictive-search__results-list::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgb(var(--color-border));
}

.predictive-search--search-template .predictive-search__results-list::-webkit-scrollbar {
  width: 0.188rem;
}

.header .predictive-search {
  display: none;
  position: relative;
  flex: 1 0 auto;
  margin: 1.875rem 0 1.25rem;
}

.header .search-modal.searching .predictive-search {
  display: block;
}

.header .predictive-search-results {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header .predictive-search-results.is-empty {
  justify-content: center;
}

.header .predictive-search__item--term {
  margin-top: 0.625rem;
}

.header .predictive-search__results-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25rem;
  padding-inline-end: 0.5rem;
  margin-inline-end: -0.5rem;
}

.header .predictive-search__results-list li {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .header .predictive-search__results-list {
    column-gap: 1.25rem;
    row-gap: 1.875rem;
    padding-inline-end: 1.563rem;
    margin-inline-end: -1.563rem;
  }

  .header .predictive-search__results-list li {
    width: calc(50% - 0.625rem);
  }

  .header .predictive-search__results-list li:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .header .predictive-search__item--term {
    width: auto;
  }
}

.predictive-search .title-wrapper {
  display: block;
}

.predictive-search .title-wrapper p + p {
  margin: 0.313rem 0 0;
}

.predictive-search--search-template {
  display: none;
  z-index: 30;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1.25rem 2.813rem;
  margin-top: 0.25rem;
  border-radius: 0.625rem;
  background-color: rgb(var(--color-background));
  box-shadow: 0 0.1rem 0.8rem rgba(var(--color-foreground), 0.15), 0 2rem 4rem rgba(var(--color-foreground), 0.08);
}

predictive-search[open] .predictive-search--search-template {
  display: flex;
  flex-direction: column;
}

.predictive-search--search-template .predictive-search-results {
  width: calc(100% + 0.938rem);
}

.predictive-search--search-template .predictive-search__results-list {
  padding-inline-end: 0.938rem;
  max-height: 1.875rem;
}

.predictive-search--search-template .predictive-search__list-item {
  padding: 0.625rem 0;
}

.predictive-search--search-template .predictive-search__list-item:first-child {
  padding-top: 0;
}

.predictive-search--search-template .predictive-search__list-item:last-child {
  padding-bottom: 0;
}

.predictive-search--search-template .predictive-search__item-heading {
  font-size: calc(var(--font-heading-scale) * 0.875rem);
  line-height: calc(1 + 0.2 / max(1, var(--font-heading-scale)));
}

.predictive-search__item-content .h4{
  font-size: calc(var(--font-heading-scale) * 1rem);
}

.predictive-search--search-template .predictive-search__heading {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 0.75rem;
  color: rgba(var(--color-heading), 0.55);
}

.predictive-search__heading {
  margin: 0;
  padding-block: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.predictive-search__heading.h4{
  font-size: calc(var(--font-heading-scale) * 1rem);
}

predictive-search .icon-spinner {
  width: 1.25rem;
  height: 1.25rem;
  line-height: 0;
}

predictive-search:not([loading]) .predictive-search__heading .icon-spinner,
predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}

predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  padding-inline-end: 0.125rem;
}

predictive-search[loading] .search-modal__form .search__button[type=button],
predictive-search[loading] .search-modal__form .search__button[type=reset] {
  display: none;
}

.predictive-search__item-heading {
  font-weight: 400;
  display: inline-block;
  position: relative;
}

@media screen and (hover: hover) {
  .predictive-search__item-heading {
    background-color: transparent;
    background-image: linear-gradient(to top, rgb(var(--color-border)) 0px, rgb(var(--color-border)) 0px), linear-gradient(to top, transparent 0px, transparent 0px);
    background-repeat: no-repeat;
    background-position: right bottom, right bottom;
    background-size: 0% 0.1rem, 100% 0.1rem;
    transition: background-size var(--duration-default) ease;
  }

  .predictive-search__item--link:hover .predictive-search__item-heading {
    background-position: left bottom, left bottom;
    background-size: 100% 0.1rem, 100% 0.1rem;
  }
}

.predictive-search__item {
  display: flex;
  text-align: start;
  text-decoration: none; 
  width: 100%;
}

.predictive-search__item--link {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1.25rem;
  background-image: none;
} 

.predictive-search__item .predictive-search__item-vendor {
  font-size: 0.563rem;
  margin-top: 0.188rem;
}

.predictive-search__item-vendor + .predictive-search__item-heading,
.predictive-search .price {
  margin-top: 0.5rem;
}

.predictive-search__image {
  width: 4.375rem;
  line-height: 0;
  overflow: hidden;
  border-radius: min(var(--card-radius), 0.3rem);
}

.predictive-search__image img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform var(--duration-long) ease;
}

@media screen and (hover: hover) {
  .predictive-search__item--link:hover .predictive-search__image img {
    transform: scale(1.1);
  }
}

.template-search__search .predictive-search__image {
  width: 3.125rem;
}

.template-search__search .search-modal__form .field {
  z-index: 15;
}

.template-search__search predictive-search .search__recommendation {
  text-align: start;
}

/* .predictive-search--focus:not(.search-modal--open) .transition-body::after {
  opacity: 1;
  pointer-events: visible;
} */

.predictive-search--focus:not(.search-modal--open) .template-search__search .search-modal__form .field {
  z-index: 35;
}

.predictive-search--focus:not(.search-modal--open) .template-search__search .search-modal__form .field {
  background-color: rgb(var(--color-background));
}

.predictive-search--focus .shopify-section-header-sticky {
  z-index: 21;
}

.predictive-search--focus announcement-bar[data-compact=false].marquee .announcement-slider {
  animation-play-state: paused;
}

.template-search__search .predictive-search .price {
  margin-top: 0;
}

.template-search__search .predictive-search .price bdi {
  font-size: calc(var(--font-price-scale) * 0.625rem);
}

.predictive-search__item-content .price bdi{
  font-size: calc(var(--font-price-scale) * 1.125rem);
}

.predictive-search__item-content .price--on-sale .price-item--regular bdi{
  font-size: 0.875rem;
}

.template-search__search .predictive-search .price .unit-price {
  line-height: 1;
}

.template-search__search .predictive-search .price .unit-price bdi {
  font-size: calc(var(--font-price-scale) * 1.3rem);
}

.template-search__search .search-modal__form .search__button[type=reset],
.template-search__search .search-modal__form .search__input ~ .search__button,
.template-search__search .search-modal__form .search__recommendation {
  opacity: 0;
  visibility: hidden;
}

.predictive-search--focus:not(.search-modal--open) .template-search__search .search-modal__form .search__input:not(:placeholder-shown) ~ .search__button[type=reset],
.predictive-search--focus:not(.search-modal--open) .template-search__search .search-modal__form .search__input ~ .search__button,
.predictive-search--focus:not(.search-modal--open)  .template-search__search .search-modal__form .search__input:placeholder-shown ~ .search__recommendation {
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: var(--duration-default);
  transition-timing-function: ease;
}
