.newsletter-form {
  width: 100%;
  position: relative;
  --color-keyboard-focus: var(--color-border);
}

.newsletter-form .form__message {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.newsletter-form .field__input {
  font-size: 1rem;
  box-shadow: none;
  outline: 0;
  padding: 0;
  border: 0.1rem solid transparent;
  border-bottom-color: rgb(var(--color-border));
  transition-property: border;
  /* height: 1.375rem; */
  min-height: 2.375rem;
}

.newsletter-form .field {
  margin-block-start: 4.063rem;
}

.footer-block__newsletter .sub-heading {
  font-family: "ES Rebond Grotesque TRIAL", Arial, Helvetica, sans-serif;
font-size: 0.875rem !important;
font-weight: 500;
line-height: 1.873rem !important;
letter-spacing: normal !important;
}

@media (max-width:768px) {
  .newsletter-form .field {
    margin-block-start: 0;
  }
}

.newsletter-form .field__input.invalid {
  border-color: var(--color-critical);
  box-shadow: none;
}

.newsletter-form .field:hover .field__input,
.newsletter-form .field__input:focus,
.newsletter-form .field__input:focus-visible {
  border-color: rgb(var(--color-border));
}

.newsletter-form .field__button {
  box-shadow: none;
  background: none;
  width: fit-content;
  min-width: auto;
  transition: padding var(--duration-default) ease;
  font-size: 0.75rem;
  height: 1.57rem;
  min-height: 4.375rem;
}

.newsletter-form .field:hover .field__button,
.newsletter-form .field__input:focus~.field__button,
.newsletter-form .field__input:focus-visible~.field__button {
  padding-inline-end: 1.3rem;
}

.newsletter-form .field__button::after {
  content: none;
}

.newsletter-form .field__button:not([disabled]) {
  box-shadow: none;
}

.newsletter-form .field__button .icon {
  width: 1.3rem;
  height: 1.3rem;
}

.newsletter-form .typeset {
  font-size: 1.3rem;
  letter-spacing: .05rem;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

@media (max-width:768px) {
  .newsletter-form .typeset {
    margin-top: 1rem;
  }
}

.newsletter-form .typeset p {
  margin: 0;
}

.newsletter-form .typeset p+p {
  margin-top: 1rem;
}