.mini-cart.is-empty+.cart-recommendations {
  display: none;
}

.cart-recommendations {
  display: block;
  position: relative;
  text-align: start;
  margin-top: 1.25rem;
  border-top: 0.1rem solid rgb(var(--color-border));
}

.cart-recommendations .title {
  justify-content: center;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0.625rem;
  padding: 0 0.625rem;
  transform: translateY(-50%);
  background-color: rgb(var(--color-background));
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0;
}

.cart-recommendations .mini-cart__navigation {
  padding: 1.25rem;
}

.cart-recommendations .mini-cart__navigation .product-content {
  margin-top: 0;
}

.cart-recommendations .mini-cart__navigation .product-content .link {
  margin-inline-end: 0;
  letter-spacing: 0.038rem;
}

.cart-recommendations .mini-cart__navigation .product-button {
  margin-top: auto;
}

.cart-recommendations .mini-cart__navigation .price,
.cart-recommendations .mini-cart__navigation .product-button .button,
.cart-recommendations .mini-cart__navigation .caption-with-letter-spacing+.product-content {
  margin-top: 0.5rem;
  border: none;
  padding-inline: 0;
}

.cart-recommendations .loading-overlay {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 10rem;
}

.cart-recommendations .mini-cart__navigation li {
  border-top: 0;
}

.cart-recommendations .title.h4 {
  font-size: 1rem;
  letter-spacing: 0.188rem;
}

.cart-recommendations .mini-cart__navigation .product-button .button--cta.button--small {
  min-height: 1.688rem;
}

.cart-recommendations .mini-cart__navigation .product-button .button--cta::after {
  height: 1px !important;
}

@media screen and (min-width: 750px) {
  .cart-drawer {
    overflow: visible;
  }

  .cart-recommendations .title {
    position: static;
    transform: none;
    background-color: transparent;
    padding: 1.875rem 1.875rem 0;
  }



  .cart-recommendations .mini-cart__navigation {
    padding: 1.563rem 1.875rem;
  }

  .cart-drawer-container.menu-closing .cart-recommendations {
    transition-delay: 0s;
    transition-duration: var(--duration-short);
  }

  .cart-drawer .cart-recommendations {
    transition-delay: calc(var(--duration-long) + var(--duration-short));
  }

  .cart-recommendations {
    margin-top: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 100%;
    width: 20rem;
    height: var(--max-height);
    background-color: rgb(var(--color-background));
    border-inline-end: 0.1rem solid rgb(var(--color-border));
    border-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: thin;
  }

  .cart-recommendations::-webkit-scrollbar {
    appearance: none;
    width: 0.2rem;
    border-radius: 1.6rem;
    background-color: transparent;
  }

  .cart-recommendations::-webkit-scrollbar-thumb {
    border-radius: 1.6rem;
    background-color: rgb(var(--color-border));
  }

  .cart-recommendations .mini-cart__navigation .product-button .button .small-hide {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 749px) {
  .mini-cart__main {
    display: flex;
    flex-direction: column-reverse;
  }

  .mini-cart__main cart-items {
    padding-top: 0;
  }

  .mini-cart__main .cart-recommendations+cart-items {
    flex: 1 1 auto;
  }

  .cart-recommendations {
    border-bottom: 0.1rem solid rgb(var(--color-border));
    margin-bottom: -0.1rem;
  }

  .cart-recommendations .title {
    font-size: 1.2rem;
  }

  .cart-recommendations .mini-cart__navigation {
    padding-top: 1.875rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.938rem;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    padding-right: 0 !important;
  }

  .cart-recommendations .mini-cart__navigation li {
    width: 82%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0;
  }

  .cart-recommendations .mini-cart__navigation::-webkit-scrollbar {
    appearance: none;
    height: 0.2rem;
    border-radius: 1.6rem;
    background-color: transparent;
  }

  .cart-recommendations .mini-cart__navigation::-webkit-scrollbar-thumb {
    border-radius: 1.6rem;
    background-color: rgb(var(--color-border));
  }

  .cart-recommendations .mini-cart__navigation .product-button .button {
    width: 2.25rem;
    height: 2.25rem;
    justify-content: center;
    box-shadow: inset 0 0 0 0.1rem rgb(var(--color-border));
    min-height: 2.25rem !important;
  }

  .cart-recommendations .button {
    border: none;
  }

  .cart-recommendations .mini-cart__navigation .product-button .button.loading::after {
    left: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    margin-left: -1rem;
  }

  .cart-recommendations .title.h4 {
    font-size: 0.75rem;
  }
}