.contact img {
  max-width: 100%;
}

.contact .field {
  display: block;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 1.875rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 750px) {
  .contact.page-width--inner .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.contact__list {
  padding-top: 3.125rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2.5rem;
}

@media screen and (min-width: 750px) {
  .contact__list {
    padding-top: 0;
    padding-inline-start: 3.75rem;
  }
}

.contact__list > li {
  flex: 0 0 100%;
}

.contact__list .h3 {
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-size: 1.063rem;
  font-family: "Tiempos Headline", Georgia, "Times New Roman", Times, serif;
  line-height: 1.275rem;
  letter-spacing: 0.038rem!important;

}

.contact__list .link {
  padding-bottom: 0.125rem;
  font-size: 0.875rem;
  line-height: 1.313rem;
  letter-spacing: 0.038rem;
  font-family: "ES Rebond Grotesque TRIAL", Arial, Helvetica, sans-serif;

}

.contact__list .list-social {
  padding-top: 0.313rem;
  gap: 0.313rem;
}

@media screen and (max-width: 749px) {
  .contact .grid .grid__item {
    width: 100%;
    max-width: 100%;
  }

  .contact__list > li {
    flex: 1 0 calc(50% - 1rem);
  }
}

@media screen and (max-width: 480px) {
  .contact__list > li {
    flex: 0 0 100%;
  }
}

.contact-form__input .form__facet-checkbox,
.contact-form__input .form__facet-radio {
  position: relative;
  display: flex;
  align-items: center;
  word-break: break-word;
  line-height: 1.6rem;
  cursor: pointer;
}

.contact-form__input .form__facet-checkbox input[type=checkbox] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 0.1rem;
  width: 0.1rem;
}

.contact-form__input .form__facet-checkbox .icon {
  color: rgb(var(--color-border));
  background-color: rgb(var(--color-background));
  margin-inline-end: 1rem;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
}

.contact-form__input .form__facet-checkbox .icon path:last-child {
  color: rgb(var(--color-foreground));
}

.contact-form__input .form__facet-radio .icon {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-inline-end: 1rem;
  position: relative;
  border: 1px solid rgb(var(--color-border));
  border-radius: 50%;
}

.contact-form__input .form__facet-radio .icon::after {
  content: '';
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: currentColor;
  border-radius: 50%;
}

.contact-form__input .form__facet-checkbox .icon path:last-child,
.contact-form__input .form__facet-radio .icon::after {
  opacity: 0;
  transition: opacity var(--duration-short) ease;
}

.contact-form__input .form__facet-checkbox > input[type=checkbox]:checked ~ .icon-checkmark path:last-child,
.contact-form__input .form__facet-radio > input[type=radio]:checked ~ .icon::after {
  opacity: 1;
}

.contact-form__input fieldset.contact-form__input {
  flex-direction: column;
  row-gap: 1rem;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.contact-form__input input[type=radio] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 0.1rem;
  width: 0.1rem;
}
.contact{
  padding-top: 1.688rem;
}
.contact .title-wrapper {
  margin-bottom:1.25rem
}
.contact .title-wrapper .title{
  font-size: 1.25rem;
  font-family: "Tiempos Headline", Georgia, "Times New Roman", Times, serif;
  /* line-height: 2.275rem; */
  font-weight: 400;
  letter-spacing: 0.038rem!important;
  line-height: 1.625rem;
  text-transform: uppercase!important;
}

.contact .contact__fields .field, .contact-form .field{
  margin-bottom: 0.938rem;

}

.contact .contact__fields .field .field__input, .contact-form .field .field__input{
  padding: 0.938rem; 
  min-height: 2.813rem;
  height: 2.813rem;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.219rem;
  letter-spacing: 0.025rem;
  box-shadow: inset 0 0 0 .063rem rgb(var(--color-border));
  font-family: "ES Rebond Grotesque TRIAL", Arial, Helvetica, sans-serif;
}
.contact-form .field .text-area{
  padding: 0.75rem;
  min-height: 6.25rem;
}

.contact .grid{
  --grid-horizontal-spacing:1.875rem;
  column-gap: var(--grid-horizontal-spacing);
}

.contact .link-with-icon .icon{
  width: 1.125rem;
  height: 1.125rem;
}
.contact__button .button{
  padding: 0.75rem  1.875rem 0.625rem;
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  line-height: 0.9rem;
  min-width: 15rem;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  background-color: rgb(var(--color-button-background));
  color: var(--color-button-text);
  font-family: "ES Rebond Grotesque TRIAL", Arial, Helvetica, sans-serif;
  min-height: 2.875rem;
  height: 2.875rem;
}
.contact .rte>p[data-spam-detection-disclaimer] {
  margin: 1.25rem 0;
  letter-spacing: 0.038rem;
  line-height: 1.688rem;
  font-size: 0.938rem;
  font-family: "ES Rebond Grotesque TRIAL", Arial, Helvetica, sans-serif;
}
.contact_heading{
  padding: 27px 0;
  font-size: 18px;
  letter-spacing: 0.038rem;
  line-height: 1.575rem;
  font-family: "ES Rebond Grotesque TRIAL", Arial, Helvetica, sans-serif;

}
.contact_heading_tag{
  font-size: 1.75rem;
  letter-spacing: 0.035rem!important;
  line-height: 2.1rem;
  font-family: "Tiempos Headline", Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0.938rem;
  text-transform: uppercase!important;
}
.contact_heading{
  text-align: center;
}

.contact .contact-form {
  text-align: center;
}
@media screen and (min-width:750px) {
  .contact{
    padding-top: 2.25rem;
  }
.contact_heading{
  line-height: 1.75rem;
  font-size: 1.25rem;
  padding: 2.25rem;
}
.contact_heading_tag{
  font-size: 2.5rem;
  line-height: 3rem;
}
  .contact .title-wrapper .title{
    font-size: 1.75rem;
    line-height: 2.275rem;
  }
  
  .contact .contact__fields .field, .contact-form .field{
    margin-bottom: 1.25rem;
  }
  .contact .title-wrapper {
    margin-bottom:1.875rem;
    line-height: 1.8rem;
  }
  .contact .rte>p[data-spam-detection-disclaimer] {
    line-height: 1.8rem;
    font-size: 1rem;
  }
.contact__list .h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.contact__button .button
{
  min-height: 3.125rem;
  height: 3.125rem;
}
}