.product-details .grid {
  margin-bottom: 0;
}

.product-details .product__description {
  padding: 3rem 0;
  border-top: 0.1rem solid rgb(var(--color-border));
  border-bottom: 0.1rem solid rgb(var(--color-border));
}

@media screen and (min-width: 750px) {
  .product-details .product__description {
    padding: 5rem 0;
  }
}

.product-details .product__description:first-child {
  border-top: 0;
  padding-top: 0;
}

.product-details .accordion + .product__description,
.product-details .product__description + .accordion {
  border-top: 0;
}

.product-details .product__description li {
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.product-details__heading {
  margin: 0;
  margin-bottom: 3rem;
}

.product-details .accordion {
  margin-top: 0;
}

.product-details .accordion:last-child {
  border-bottom: 0;
}

.product-details .accordion summary {
  padding: 0;
  color: rgb(var(--color-heading));
  transition: color var(--duration-default) ease;
}

.product-details .accordion summary .icon {
  position: absolute;
  top: 50%;
  right: 1.2rem;
  margin-top: -0.7rem;
  width: 1rem;
  height: 1rem;
  transition: transform var(--duration-default) ease;
}

@media screen and (min-width: 750px) {
  .product-details .accordion summary .icon {
    margin-top: -1rem;
    width: 1rem;
    height: 1rem;
    margin-right: -1rem;
  }
}

.product-details .accordion summary .icon::after {
  transition: height var(--duration-default) ease;
}

.product-details .accordion details[open] summary {
  color: rgba(var(--color-foreground), 0.55);
}

.product-details .accordion details[open] summary .icon::after {
  height: 0;
}

@media screen and (hover: hover) {
  .product-details .accordion details:not([open]) summary:hover {
    color: rgba(var(--color-foreground), 0.55);
  }

  .product-details .accordion details:not([open]) summary:hover .icon {
    transform: rotate(90deg);
  }
}

.product-details .accordion .summary__title {
  padding: 1.5rem 0;
  display: block;
}

.product-details .grid .accordion:first-child summary {
  margin-top: -1.5rem;
}

.product-details .accordion .accordion__title {
  color: currentColor;
  font-family: Aileron;
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 2.338rem;
  text-transform: none;
}

.product-details .accordion__content {
  padding: 0 0 3rem;
  font-family: Aileron;
}

@media screen and (min-width: 750px) {
  .product-details .accordion .summary__title {
    padding: 1.25rem 0;
  }

  .product-details .grid .accordion:first-child summary {
    margin-top: -3rem;
  }

  .product-details .accordion__content {
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 749px) {
  .product-details .grid__item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product-details .accordion .accordion__title {
    font-size: 1.125rem;
    line-height: 1.2rem;
  }

  .product-details .accordion__content {
    padding: 0 0 1rem;
    font-size: 0.75rem;
  }
}

.subheading {
  font-family: Aileron;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.313rem;
  color: black;
}