.blog .placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 22rem;
  text-align: center;
  padding: 4rem 2rem 5rem;
  margin: 0 2rem;
}

@media screen and (min-width: 750px) {
  .blog .placeholder {
    margin: 0;
  }
}

.blog__post {
  padding-bottom: 0;
}

@media screen and (min-width: 750px) {
  .blog__post:only-child {
    text-align: center;
  }

  .blog__posts--4-items .grid__item {
    width: 50%;
  }
}

.blog__posts.articles-wrapper {
  row-gap: 1.875rem;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    padding-bottom: 0;
    row-gap: 5rem;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .slider.blog__posts--1-items {
    padding-bottom: 0;
  }

  .slider.blog__posts .article-card__excerpt,
  .slider.blog__posts .article-card__footer {
    display: none;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.blog__posts--1-items,
  .slider.blog__posts--2-items {
    padding-bottom: 0;
  }
}

.blog .title-wrapper{
  margin-bottom: 1.25rem;
}

.blog .title-wrapper .title, .blog .article-card__title {
  /* font-family: Montserrat, sans-serif; */
  /* text-transform: capitalize !important;
  letter-spacing: normal !important; */
}

.blog .title-wrapper .title{
  /* font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 400;
  letter-spacing: 0.038rem!important; */
  /* text-transform: uppercase!important; */
}

.blog .article-card__info{
  padding-top: 0.938rem;
}
.blog .article-card__title{
  font-size: 0.938rem;
  text-transform: uppercase!important;
  letter-spacing: 0.188rem!important;
  line-height: 1.219rem;
}
.blog .article-card__header{
  row-gap: 0.375rem;
}

.blog .article-card__header .circle-divider
{
  letter-spacing: 0.081rem;
}

.blog .slider-mobile-gutter+.view-all{
  margin-top: 1.875rem;
}

@media screen and (min-width:750px) {
  .blog .title-wrapper .title{
    font-size: 1.75rem;
    line-height: 2.275rem;
  }
  .blog .article-card__title{
    font-size: 1.125rem;
    line-height: 1.463rem;
    letter-spacing: 0.225rem!important;
  }
  .blog .title-wrapper{
    margin-bottom: 1.875rem;
  }
  .blog .blog__posts{
    column-gap: 1.875rem;
  }
  .blog .slider-mobile-gutter+.view-all{
    margin-top: 3.125rem;
  }
  .blog .view-all .button{
    min-width: 15rem;
  }
}