{%- layout none -%}

<div class="wishlist-results">
  {% paginate search.results by 4 %}
    {% for item in search.results %}
      {% if item.object_type == 'product' %}
        {% render 'card-product', product: item %}
      {% endif %}
    {% endfor %}

    <nav class="wishlist-pagination">
      {{ paginate | default_pagination }}
    </nav>
  {% endpaginate %}
</div>
