/* ---------------------------------------------------------
    * Name: Ochaka - Multipurpose eCommerce HTML Template
    * Version: 1.0.2
    * Author: JThemes
    * Author URI: http://jthemes.com 

	* Abstracts variable
    
    * Reset css styles

    * Components

        * header
        * footer
        * accordion
        * animation
        * blog
        * box icon
        * button
        * carousel
        * avatar
        * form
        * hover
        * nice select
        * popup
        * product
        * shop
        * slider
        * testimonial
        * zoom
        
    * Section
 ------------------------------------------------------------------------------ */

/*--------- Abstracts variable ---------- */
@use "./abstracts/index" as abstract;

/*---------- Reset css styles ----------- */
@use "reset";

/*------------ Components ---------------- */
@use "./component/index" as component;

/*------------ Section ---------------- */
@use "./sections";

/*-------------- RTL ----------------- */
@use "./rtl";

/*-------------- Theme Bypass Prevention ----------------- */
body.shopify-design-mode:not(.tf-loaded-state) {
  > *:not(#theme-activation-overlay) {
    display: none;
  }
  #theme-activation-overlay {
    display: block;
  }
}

#theme-activation-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, #2b2b2b 0%, #121212 100%);
  z-index: 99999999;
  align-items: center;
  justify-content: center;
}