/* ---------------------------------------------------------
    * Name: Ochaka - Multipurpose eCommerce HTML Template
    * Version: 1.0.2
    * Author: JThemes
    * Author URI: http://jthemes.com 

	* Abstracts variable
    
    * Reset css styles

    * Components

        * header
        * footer
        * accordion
        * animation
        * blog
        * box icon
        * button
        * carousel
        * avatar
        * form
        * hover
        * nice select
        * popup
        * product
        * shop
        * slider
        * testimonial
        * zoom
        
    * Section
 ------------------------------------------------------------------------------ */

/*--------- Abstracts variable ---------- */
@use "./abstracts/index" as abstract;

/*---------- Reset css styles ----------- */
@use "reset";

/*------------ Components ---------------- */
@use "./component/index" as component;

/*------------ Section ---------------- */
@use "./sections";

/*-------------- RTL ----------------- */
@use "./rtl";